<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220697062185-8so39lbvoemqb6cpmbct8fk2goolg04o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220697062185-8so39lbvoemqb6cpmbct8fk2goolg04o</string>
	<key>API_KEY</key>
	<string>AIzaSyAkpzLOKt01Lq_cFiuermP_3s_hjEnifls</string>
	<key>GCM_SENDER_ID</key>
	<string>220697062185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.genicat.treearth</string>
	<key>PROJECT_ID</key>
	<string>treearth-c240b</string>
	<key>STORAGE_BUCKET</key>
	<string>treearth-c240b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220697062185:ios:c9994a4721721b80aae538</string>
</dict>
</plist>